<div class="widget search">
  <header>
    <h3 class="h6">Search Weather</h3>
  </header>

  <form action="#" class="search-form" ngNoForm>
    <div class="form-group">
      <input
        type="search"
        name="cityToSearch"
        id="cityToSearch"
        [formControl]="cityToSearch"
        placeholder=" Search for City?"
      />
      <button type="submit" class="submit"></button>
    </div>
  </form>

  <div class="pt-5">
    <div class="h6">Currently displaying</div>
    <br />
    <div class="h6 alert alert-warning">City : {{ name }}</div>
    <br />
    <div class="h6 alert alert-success">Temperature : {{ temperature }}</div>
    <br />
    <div class="h6 alert alert-info">Humidity : {{ humidity }}</div>
  </div>
  <div class="pt-5"></div>
</div>
