<div class="row">
  <div *ngFor="let article of articles" class="post col-xl-6">
    <div class="post-thumbnail">
      <a href="{{ article.url }}" class="animsition-link">
        <img src="{{ article.urlToImage }}" alt="..." class="img-fluid" />
      </a>
    </div>
    <div class="post-details">
      <div class="date meta-last">
        {{ article.publishedAt | date: "MM/dd/yy" }}
      </div>
    </div>
    <a href="{{ article.url }}" class="animsition-link">
      <h3 class="h4 w-100">{{ article.title }}</h3>
    </a>
    <p class="text-muted">{{ article.description }}</p>
    <footer class="post-footer d-flex align-items-center">
      <a href="#" class="author d-flex align-items-center flex-wrap">
        <div class="title">{{ article.author }}</div>
      </a>
    </footer>
  </div>
</div>
